*{
  box-sizing: border-box;
}

html,body{
  height: 100% ;
  width: 100% ;
}

body  {
   margin:0;
}

.container{
  position: relative;
  width:100%;
  height: 100%;
  background-color: aliceblue;
  /* 当图片里的容器溢出时可以滚动查看隐藏部分 */
  overflow: auto;
}

.marker1{
  /* 定义精灵图大小 */
  width:46px;
  height:64px;
  /* 精灵图位置 */
  background:url(./marker.png) -18px -272px;
 /* 精灵图相对于父容器作绝对定位 */
  position: absolute;
  left:998px;
  top:1320px
}

.marker1:hover{
  background-position: -18px -96px ;
  
}

svg g{
  /* 让容器g的位置向下和向右偏移 */
  transform: translate(100px,100px);

}
svg g path{
  /* 设置描边为白色 */
  stroke:#fff;
  /* 填充背景为白色 */
  fill:#fff;
  /* 添加投影效果 */
  filter:drop-shadow(2px 2px 4px rgba(0,0,0,0.6));

}
svg g text{
  /* 对文本作位移 */
  /* 设置transform:translate(10px,10px),即延X轴和延Y轴均移动10像素，对比原图位置，移动后的图如下所示， */
    transform: translate(-13%,-44px);
}
svg{
  position: absolute;
  left: -78px;
  top: -104px;
}
  /* 默认隐藏提示框 */
.marker1 svg{

  display: none;
}
/* 伪选择器 :hover */
.marker1:hover svg{
  /* 可以在鼠标滑过父元素marker1时让子元素svg显示 */
  display: block;
}

.marker2{
  /* 定义精灵图大小 */
  width:46px;
  height:64px;
  /* 精灵图位置 */
  background:url(./marker.png) -370px -360px;
 /* 精灵图相对于父容器作绝对定位 */
  position: absolute;
  left:545px;
  top:220px
}

.marker2:hover{
  background-position: -370px -184px ;
  
}

  /* 默认隐藏提示框 */
  .marker2 svg{

    display: none;
  }
  /* 伪选择器 :hover */
  .marker2:hover svg{
    /* 可以在鼠标滑过父元素marker1时让子元素svg显示 */
    display: block;
  }
  svg g text.position15{
    /* 对文本作位移 */
    /* 设置transform:translate(10px,10px),即延X轴和延Y轴均移动10像素，对比原图位置，移动后的图如下所示， */
      transform: translate(-10%,-44px);
  }